body {
            margin: 0px;
            width: 100%;
            height: auto;

        }
        header{
            text-align: center;
            border:1px solid black;
            width : 100%;
            height : 150px;
        }
        footer{
            text-align: center;
            border:1px solid black;
            width : 100%;
            height : 150px;
        }
        .wrapper{
            width:100%;
            height: auto;
        }
        .Allcontainer{
            padding: 0px;
            margin-left: auto;
            margin-right: auto;
            width:80%;
            height: auto;
        }
        .searchProductNameWrapper{
        	margin-top : 2%;
            padding: 1%;
 
        }
        .searchProductNameWrapper h2{
            display: inline;
        }
        .searchProductName{
            padding: 10px;
            margin-bottom: 20px;
        }
        
        #productFilter{
            width: 90%;
            border: 1px solid lightgray;
            padding: 30px 30px 22px;
            margin-bottom: 40px;
            margin : auto;
        }
        .subject{
            float: left;
        }
        .conSelect{
            margin-left: 13%;
        }
        .conSelect a{
            margin-right: 2%;
        }
        .filterWrapper{
            margin-bottom: 2.5%;
        }
        .listSort{
            margin: 2% 0% 7%;
            
        }
        .listSort>*{
            margin-right: 1%;
        }
        .idWrapper{
            padding : 5px 20px 15px;
        }
        #page{
            text-align: center;
        }
        .btn-toolbar{
            display: inline-block;
            margin-top: 4%;
            margin-bottom: 3%;
        }
        .btn-group{
            padding: 6px;
        }
        .ad{
            margin-top: 5%;
            margin-bottom: 2%;
        }