<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>안녕히가세요</title>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style type="text/css">.carousel-caption { position: relative; left: 0%; right: 0%; bottom: 0px; z-index: 10; padding-top: 0px; padding-bottom: 0px; color: #000; text-shadow: none; & .btn { text-shadow: none; // No shadow for button elements in carousel-caption } } .carousel { position: relative; } .controllers { position: absolute; top: 0px; } .carousel-control.left, .carousel-control.right { background-image: none; }
</style>
<div class="carousel slide" data-ride="carousel" id="carousel-example-generic"><!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<div class="holder col-sm-8"><a href="/index.jsp"><img class="img-responsive" src="https://s3.amazonaws.com/libapps/accounts/390/images/unsplashbirdspring2015838488.jpg" width="1000" /> </a></div>

<div class="col-sm-4">
<div class="carousel-caption">
</br>
</br>
<h1>탈퇴 완료</h1>
 

<h3>지금까지 Sell:F 를<BR> 이용해주셔서<BR> 감사합니다</h3>
</br>
</br>
</br>
</br>

<a class="btn btn-sm btn-success" href="/index.jsp"><span class="glyphicon glyphicon-bullhorn"></span> 메인화면으로 </a></div>
</div>
</div>

<div class="item">
<div class="holder col-sm-8"><a href="/index.jsp" target="_blank" title="Taking course online? This is an overview of Library resources."><img alt="..." class="img-responsive" src="https://s3.amazonaws.com/libapps/accounts/390/images/Screen_Shot_2014-07-08_at_2.08.28_PM.png" /></a></div>

<div class="col-sm-4">
<div class="carousel-caption">




</div>
</div>

<div class="item">
<div class="holder col-sm-8"><a href="http://libguides.scf.edu/16in16"><img alt="Find out more." class="img-responsive" src="https://s3.amazonaws.com/libapps/accounts/390/images/ReadingStudentChoice.jpg" /> </a></div>

<div class="col-sm-4">
<div class="carousel-caption">



<a class="btn btn-sm btn-info" href="#"><span class="glyphicon glyphicon-send"></span> </a><a href="mailto:LibrarySuggestionBox@scf.edu" title="Library Suggestion Box">Library Suggestion Box</a>
<p></p>  
<a class="btn btn-sm btn-success" href="http://libguides.scf.edu/16in16"><span class="glyphicon glyphicon-bookmark"></span> 16 in 16 Reading Challenge</a> 
<p></p>  
<a class="btn btn-sm btn-primary" href="http://www.linccweb.org/Discover?lib_code=FLCC1500&query=MJCBRStudentChoice"><span class="glyphicon glyphicon-sunglasses"></span> Browse Student Choice Collection : Bradenton</a>
<p></p>  
<a class="btn btn-sm btn-primary" href="http://www.linccweb.org/Discover?lib_code=FLCC1500&query=MJCveStudentChoice"><span class="glyphicon glyphicon-sunglasses"></span> Browse Student Choice Collection : Venice</a>
<p></p>  
</div>
</div>
</div>

<div class="item">
<div class="holder col-sm-8"><img alt="Use EasyBib for MLA, APA and other citation help" class="img-responsive" ahref="http://libguides.scf.edu/easybib" src="https://s3.amazonaws.com/libapps/accounts/390/images/easybooks383488.jpg" /> </a></div>

<div class="col-sm-4">
<div class="carousel-caption">
</br>
<h1>EasyBib</h1>

</br>
</br>

<p><h2></h2>Get past citation frustration to bibliographic fantastic.  APA, MLA, Chicago and 59 other citation styles. </h2><a href="http://libguides.scf.edu/easybib">.</a></p>
</br>
</br>
<a class="btn btn-sm btn-info" href="#"><span class="glyphicon glyphicon-send"></span> </a><a href="http://www.libsurveys.com/loader.php?id=117" title="Citation Help.">.</a>
    <p></p>   
<a class="btn btn-sm btn-success" href="http://www.askalibrarian.org/vrl_intro.php?library=FLCC1500"><span class="glyphicon glyphicon-bullhorn"></span>Good bye man..</a> 
<p></p>
<a class="btn btn-sm btn-primary" href="http://libguides.scf.edu/FAQs_Frequently_Asked_Questions_Help"><span class="glyphicon glyphicon-question-sign"></span></a>


<p></p>    
</div>
</div>







</div>


<!—Controls —>
<div class="controllers col-sm-8 col-xs-12"><!-- Controls --><a class="left carousel-control" data-slide="prev" href="#carousel-example-generic"><span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" data-slide="next" href="#carousel-example-generic"> <span class="glyphicon glyphicon-chevron-right"></span> </a> <!-- Indicators -->

<ol class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#carousel-example-generic"> </li>
<li data-slide-to="1" data-target="#carousel-example-generic"> </li>
<li data-slide-to="2" data-target="#carousel-example-generic"> </li>
</ol>
</div>
</div>
<!—//container ends —>

</body>
</html>