@charset "UTF-8";

@charset "UTF-8";

html, body {
	font-family: 'Sunflower', sans-serif;
}

#footerTest {
	display: block;
	clear: both;
	width: 100%;
	height: 300px;
	background-color: green;
}

#titleSec {
	width: 100%;
	height: auto;
	box-sizing: border-box;
}

#orderStepSec {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	box-sizing: border-box;
}

#goodsInfo {
	border-radius: 5px;
	border: 2px solid #CFCFCF;
}

.cartListSec {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	/*   border: 1px solid black; */
}

.selectBtn2 {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	position: relative;
}

#orderListInfo {
	border-radius: 5px;
	border: 1px solid black;
	width: 100%;
	height: auto;
	padding-bottom:30px;
}

#orderListInfo_detail {
	width: 100%;
	height: auto;
	display: flex;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

.sign-up {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

.sign-up>ul {
	padding: 0px;
	margin-bottom: 30px;
}

.sign-up>ul li {
	text-align: center;
	margin: 0 10px;
	display: inline-block;
	width: 24%;
	border-bottom: 3px solid gray;
}

.sign-up>ul li h3 {
	font-weight: 600;
	color: gray;
}

.sign-up>h4 {
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 20px;
}

.sign-up li.active {
	border-bottom: 3px solid black;
}

.sign-up li.active h3 {
	color: black;
}

.sign-up li.active h3 small {
	color: black;
}

#goodsName {
	font-weight: 800;
	font-size: 18px;
}

#reward>dt {
	float: left;
}

.orderListInfo_2>dt {
	float: left;
}

#infoContainer {
	width: 100%;
	height: auto;
	border: 1px solid;
	position: relative;
}

#deliveryInfo {
	border-radius : 5px;
	border: 2px solid #CFCFCF;
	width: 55%;
	height: 100%;   
	padding: 30px;
	padding-bottom: 134px;
	margin-left: 10px;
	margin-right: 10px;
	margin-botton :20px;
	float: left;
	position: relative;
	  
}  

#orderListInfo {
	border: 2px solid #CFCFCF;
	width: 38%;
	height: 100;
	margin: 0 auto;
	float: left;
	position: relative;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 49px;
}

#orderListInfo>div {
	width: 100%;
	height: auto;
	float: left;
}
#content2{
	width:100%;
	height:800px;
}
.payButton {
	border : 2px solid black;
	background-color: black;
	border-radius: 10px;
	font-size: 17px;
	color:white;
	width: 200px;
	height: 80px;
	margin: 10px;
}

#orderListInfoWrap {
	border-radius: 5px;
	border : 2px solid #CFCFCF;
	width: 100%;
	height: auto;
	margin-top: 30px;
	padding-left:10px;

}   

#orderListInfoWrap>div {
	/*     border: 1px solid black; */
	width: 100%;
	height: 60px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: flex;
}

#orderListInfoWrap>div>span:first-child {
	/*     border: 1px solid black; */
	width: 100%;
	height: 60px;
	flex: 1;
	padding-top: 15px;
	box-sizing: border-box;
}

#content {
	width: 960px;
	height: auto;
}

#orderListInfoWrap>div>span:last-child {
	/*     border: 1px solid black; */
	width: 100%;
	height: 60px;
	flex: 2.5;
	padding-top: 15px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

#orderListInfoWrap>div:last-child {
	/*     border: 1px solid red;  */
	width: 100%;
	height: 60px;
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 10px;
	box-sizing: border-box;
}